{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
            <h1>
                "hola Juapo"
            </h1>
    </div>
      <div class="col-4">
          <img src="/assets/img/Rox1.jpg" class="img-thumbnail"></img>
        
    </div>


</div>

{{> footer}}